@using Project.EDM;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src='@Url.Content("~/js/jquery-2.1.4.min.js")'></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href='@Url.Content("~/css/bootstrap.css")' rel="stylesheet" type="text/css" media="all" />
    <!-- pignose css -->
    <link href='@Url.Content("~/css/pignose.layerslider.css")' rel="stylesheet" type="text/css" media="all" />


    <!-- //pignose css -->
    <link href='@Url.Content("~/css/style.css")' rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src='@Url.Content("~/js/jquery-2.1.4.min.js")'></script>
    <!-- //js -->
    <!-- cart -->
    <script src='@Url.Content("~/js/simpleCart.min.js")'></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src='@Url.Content("~/js/bootstrap-3.1.1.min.js")'></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script src='@Url.Content("~/js/jquery.easing.min.js")'></script>
    
    <script>

    $(document).ready(function () {
        $("#search").change(function () {
            $.ajax({
                type: "POST",
                url: "/User/searchtext/",
                datatype: "json",
                data: { srchtext: $("#search").val() },
                success: function (data) {

                    //alert("hi");
                    window.location = data.url;
                },

                error: function (data) {

                    alert("error executed");
                }

            });


        });

    });

    </script>




    
</head>
<body>

    <!-- header -->
    <div class="header">
        <div class="container">
            <ul>
                <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Free and Fast Delivery</li>
                <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Free shipping On all orders</li>
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@{string str = Session["uname"].ToString();}Hello User @str</a></li>
            </ul>
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="container">
            <div class="col-md-3 header-left">
                <h1><a href="index.html"><img src="~/images/logo.png"></a></h1>
            </div>
            <div class="col-md-6 header-middle">
                <form>
                    <div class="search">
                        @*<input type="text" id="search" placeholder="search..">*@
                        @*<input type="text" class="form-control" id="search" name="search" placeholder="Search...">*@
                        <input value="Search" id="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="" type="search">
                    </div>

                    <div class="sear-sub">
                        @*<input type="submit" value="Search" id="btn1">*@
                        <input value="" type="submit" class="glyphicon glyphicon-search">
                    </div>
                    <div class="clearfix"></div>
                </form>
                

            </div>

            
            @*<li><a class="use1" href="#"></a></li>*@
            @*@{string str = Session["userlogin"].ToString();}
              <h3><font color="orange">Hello User</font></h3><font color="red"><h1>@str</h1></font>*@
                
            


            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- menu-part -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Menu -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action("userindex","User")">HOME<span class="sr-only">(current)</span></a></li>
                                <li class=" menu__item"><a class="menu__link" href="@Url.Action("special","User")">Special Offer's</a></li>
                                
                                <li class=" menu__item"><a class="menu__link" href="@Url.Action("viewrest","User")">RESTAURENT VIEW</a></li>
                                <li class=" menu__item"><a class="menu__link" href="@Url.Action("orderstatus","User")">order Status</a></li>


                                <li class=" menu__item"><a class="menu__link" href="@Url.Action("logout","Home")"> Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            @{
                int p;
                if (Session["userlogin"] != null)
                {
                    RestaurantDBEntities dc = new RestaurantDBEntities();
                    int id = int.Parse(Session["userlogin"].ToString());
                    p = dc.tblCarts.Where(c => c.user_id == id).Count();
                }
                else
                {
                    p = 0;
                }
            }
            <div class="top_nav_right">
                <div class="cart box_1">
                    <a href='@Url.Action("viewcart")'>
                        <h3>
                            @p items
                            @*<div class="total">
                                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>*@

                        </h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //menu-part -->

    <div>
        @RenderBody();
    </div>
    <!-- //product-nav with login creditals -->
    <div class="coupons">
        <div class="container">
            <div class="coupons-grids text-center">
                <div class="col-md-3 coupons-gd">
                    <h3>Buy your product in a simple way</h3>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h4>LOGIN TO YOUR ACCOUNT</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <h4>SELECT YOUR ITEM</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="col-md-3 coupons-gd">
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    <h4>MAKE PAYMENT</h4>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit amet, consectetur.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>



    <!-- footer with sign up for newsletter -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-left">
                <h2><a href="index.html"><img src="..//images/logo3.jpg" alt=" " /></a></h2>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi tempora incidunt ut labore
                    et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>
            <div class="col-md-9 footer-right">
                <div class="col-sm-6 newsleft">
                    <h3>SIGN UP FOR NEWSLETTER !</h3>
                </div>
                <div class="col-sm-6 newsright">
                    <form>
                        <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Information</h4>
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li><a href="mens.html">Men's Wear</a></li>
                            <li><a href="womens.html">Women's Wear</a></li>
                            <li><a href="electronics.html">Electronics</a></li>
                            <li><a href="codes.html">Short Codes</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 sign-gd-two">
                        <h4>Store Information</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : Tops technology,Udhna <span>Surat City.</span></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">akshaybhagwat76@hotmail.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +91-7048729059</li>
                        </ul>
                    </div>
                    <div class="col-md-4 sign-gd flickr-post">
                        <h4>Flickr Posts</h4>
                        <ul>
                            <li><a href="single.html"><img src="..//images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b16.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b17.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b18.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b16.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b17.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b18.jpg" alt=" " class="img-responsive" /></a></li>
                            <li><a href="single.html"><img src="..//images/b15.jpg" alt=" " class="img-responsive" /></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">&copy 2017 Food Corner Portal All rights reserved | Design by M.A Developers</a></p>
        </div>
    </div>
    <!-- //footer with sign up for newsletter-->




</body>
</html>
