@{
    ViewBag.Title = "subcategory";
    Layout = "~/Views/Shared/Admin.cshtml";
}
@model PagedList.IPagedList<Project.EDM.tblSubcategory>
@using PagedList.Mvc;
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="@Url.Action("adminindex","Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <style>
                .row {
                    width: 1000px;
                }
            </style>
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">

                <!-- quick email widget -->
                @using Project.EDM;

                @{
                    ViewBag.Title = "subcategory";

                }


                <!--banner-->
                <div class="banner">
                    <h2>
                        <a href="@Url.Action("adminindex","Admin")">Home</a><br />
                        @*<a href="@Url.Action("addsubcategory","Admin")">Add SubCategory</a>*@
                        <a href="@Url.Action("addsubcategory", "Admin")" class="btn btn-info">Add SubFood</a>

                    </h2>
                </div>
                <!--//banner-->
                <center>
                    <center><h2>Sub Category View</h2></center>


                    <table class="table">


                        @*<tr>
                                <td>
                                    Search : <input type="text" id="txt" /><input type="button" value="search" id="btn" />
                                    <input type="button" value="Get All Users" id="btn1" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="update">

                                    </div>
                                </td>
                            </tr>*@
                        <tr>

                            <th>Sub Category ID</th>
                            <th>SubCategory Name</th>
                            <th>SubCategory Code</th>
                            <th>SubCategory Image </th>
                            <th>SubCategory Price</th>
                            <th>Category Name</th>
                        </tr>

                        @foreach (var item in ViewData["viewcat1"] as List<Project.Controllers.viewcat1>)
                        {

                            <tr>
                                <th>@item.s_id</th>
                                <th>@item.subcategory_name</th>
                                <th>@item.subcategory_code</th>
                                <th><img src='@Url.Content("~/catimg/subcatimg/"+item.subcategory_image)' width="120" height="50" /></th>


                                <th>@item.subcategory_price</th>
                                <th>@item.category_name</th>
                                <th></th>


                                <th>@Html.ActionLink("Edit", "editsubcategory", new { id = item.s_id })</th>
                                <th>@Html.ActionLink("Delete", "delete_subcategory", new { id = item.s_id })</th>
                                <th>@Html.ActionLink("Details", "detail_subcategory", new { id = item.s_id })</th>



                            </tr>


                        }

                    </table>
                    <br />
                    @Html.PagedListPager(Model, page => Url.Action("subcategory",
                                 new { page, pageSize = Model.PageSize }
                   ))
                    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount
                </center>

            </section>

        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@*@section Scripts{
    <script type="text/javascript">

        </script>
    <script>
        $(document).ready(function () {

            $('#btn1').click(function () {


                $.ajax({

                    url: "@Url.Action("getcategoty","Admin")",
                    data: "",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        loadData(data)
                    },
                    error: function () {
                        alert("fail ! try again");
                    }
                });
            });

            $("#btn").click(function () {

                $.ajax({

                url: "@Url.Action("getcategotywithparam","Admin")",
                data: {prefix:$('#txt').val()},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    loadData(data)
                },
                error: function () {
                    alert("fail ! try again");
                }
            });
            });
            function loadData(data) {
                var tab = $('<table class="tbl"></table>');
                var thead = $('<thead></thead>');
                thead.append('<th>s_id</th>');
                thead.append('<th>subcategory_name</th>');
                thead.append('<th>subcategory_code</th>');
                thead.append('<th>subcategory_image</th>');
                thead.append('<th>subcategory_price</th>');
                thead.append('<th>category_id</th>');

                tab.append(thead);
                $.each(data, function (i, val) {
                    var trow = $('<tr></tr>');
                    trow.append('<td>' + val.s_id + '</td>');
                    trow.append('<td>' + val.subcategory_name + '</td>');
                    trow.append('<td>' + val.subcategory_image + '</td>');
                    trow.append('<td>' + val.subcategory_price + '</td>');
                    trow.append('<td>' + val.category_id + '</td>');
                    tab.append(trow);




                });
                $("tr:odd", tab).css('background-color', 'red');
                $("#updatepanel").html(tab);

            };
        });
        </script>
    }*@
