@{
    ViewBag.Title = "addfood";
    Layout = "~/Views/Shared/Rest.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/admin page design/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#d1').datepicker({
         
            minDate: 0,
           
        });
    });

</script>
<style>
    .ui-datepicker{
        color:blue;
        margin-left:1px;
    }
</style>
<script>
    $(document).ready(function () {

        $('#drp1').change(function () {

            $.ajax({
                type: "POST",
                url: "/Rest/getdata",
                data: { id: $("#drp1").val() },
                dataType: "json",
                success: function (data) {

                    $("#drp2").empty();
                    $.each(data, function (key, dept) {
                        $("#drp2").append("<option value=" + dept.s_id + ">" + dept.subcategory_name + "</option>")
                    });
                }
            });
        });

    });

</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Rest")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <style>
                .row {
                    width: 1000px;
                }
            </style>
            <!-- working column -->

            <section class="col-lg-7 connectedSortable">

                @model Project.EDM.tblFood

                @{
                    ViewBag.Title = "addfood";
                    Layout = "~/Views/Shared/Rest.cshtml";
                }

                <h2> Add Foods</h2>

                @using (Html.BeginForm("addfood", "Rest", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {



                    <input type="text" placeholder="Food Name" name="fname" required="" class="form-control" />
                    <br />
                    <input type="file" name="file" id="file" required="" class="form-control" />
                    


                    <br />
                    <br />

                    <select id="drp1" name="drp">
                        <option>--Select--</option>
                        @foreach (var item in ViewData["temp"] as List<Project.EDM.tblCategory>)
                        {

                            <option value="@item.c_id">
                                @item.category_name
                            </option>
                        }

                    </select>

                    @*<br />
                    <br />
                    <select id="drp2" name="drp1">
                        <option>--Select--</option>
                    </select>*@

                    <br />
                    <br />
                    <input type="text" placeholder="Food Price" name="fprice" required="" class="form-control" />
                    <br />

                         @*<input type="text" id="d1" placeholder="Food Date" name="fdate" class="form-control" />
                    <br />*@
                    <input type="text" placeholder="Food Description" name="fdesc" required="" class="form-control" />
                    <br />
                        // <input type="text" placeholder="Food RestuarantID" name="fri" required="" class="form-control" />
                        <br />
                        <button type="submit" class="btn-lg">Add FOOD</button>
                        <br />
                        @Html.ActionLink("Back to Foods", "fdetails")
                }

            </section>
        </div>
        @*<div>
                @Html.ActionLink("Back to List", "category")
            </div>*@



    </section>


    <!-- /.row (main row) -->
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
