@model IEnumerable<Project.EDM.tblFood>
@{
    ViewBag.Title = "fdetails";
    Layout = "~/Views/Shared/Rest.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Rest")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <style>
                .row {
                    width: 1000px;
                }
            </style>
            <section class="col-lg-7 connectedSortable">
                @using Project.EDM

                @{
                    ViewBag.Title = "";
                }

                <!--banner-->
                <div class="banner">
                    @*<h2>
                <a href="@Url.Action("Index","Rest")">Details of foods</a>

            </h2>*@
                </div>
                <!--//banner-->
                <!--banner-->
                <div class="banner">
                    <h2>
                        <a href="@Url.Action("Index","Rest")">Home</a><br />

                        @Html.ActionLink("Add Foods", "addfood", null, new { @class = "btn-add" })

                    </h2>

                </div>
                <!--//banner-->
                <center>
                    <center><h2>Food View</h2></center>
                    <table class="table">

                        <thead>
                            <tr>

                @*                <th>Food ID</th>*@
                                <th>Food Name</th>
                                <th>Food CategoryName</th>
                                @*<th>Food SubCategoryName</th>*@
                                <th>Food Price</th>
                                <th>Food Date</th>
                                <th>Food Description</th>
                                <th>Food Image</th>

                            </tr>
                        </thead>

                        @foreach (var item in ViewData["fdetails"] as List<Project.Controllers.foods>)
                        {

                            <tr>
              @*                  <th scope="row">@item.f_id</th>*@
                                <th>@item.food_name</th>
                                <th>@item.category_name</th>
                                @*<th>@item.subcategory_name</th>*@
                                <th>@item.food_price</th>
                                <th>@item.food_date</th>
                                <th>@item.food_description</th>
                                <th><img src="~/fdimg/@item.food_image" width="120" height="50" /></th>


                                <th></th>
                                <th></th>


                                <th>@Html.ActionLink("Edit", "editfood", new { id = item.f_id })</th>
                                <th>@Html.ActionLink("Delete", "deletefood", new { id = item.f_id })</th>
                                @*<th>@Html.ActionLink("Details", "detailfood", new { id = item.f_id })</th>*@
                                <br />
                                <br />


                            </tr>



                        }

                    </table>



</section>
        </div>
    </section>
</div>